# Tunnel Token criado na CloudFlare
CF_TUNNEL_TOKEN="AAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA"

# Seu domínio gerenciado pela Cloudflare
DOMAIN=example.net

# hash de senha criado localmente para acessar o dashboard
BASIC_AUTH="user:$$apr1$$/NNNNNNNNNNNNNNNNNNNNNNNNNNNNNNN"
