networks:
  frontend:
    name: frontend

volumes:
  traefik_acme:
    name: traefik_acme


services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    command: tunnel run
    environment:
      - TUNNEL_TOKEN=${CF_TUNNEL_TOKEN}
    networks:
      - frontend

  traefik:
    image: "traefik:v3"
    container_name: "traefik"
    restart: unless-stopped
    security_opt:
      - no-new-privileges:true
    ports:
      - "8080:8080"
    volumes:
      - "/var/run/docker.sock:/var/run/docker.sock:ro"
      - "/etc/timezone:/etc/timezone:ro"
      - "/etc/localtime:/etc/localtime:ro"
    networks:
      - frontend
    dns:
      - 1.1.1.1
      - 8.8.8.8
    command:
      - --api.dashboard=true
      - --log.level=INFO
# para ver mais dados no log, comentar a linha acima e descomentar as 4 abaixo.
#      - --log.level=DEBUG
#      - --accesslog=true
#      - --accesslog.format=json # Formato JSON detalha melhor a duração
#      - --accesslog.fields.headers.defaultmode=keep # Mostra os headers
      - --providers.docker=true
      - --providers.docker.exposedByDefault=false
      - --entrypoints.web.address=:80

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.dashboard.rule=Host(`traefik.${DOMAIN}`)"
      - "traefik.http.routers.dashboard.entrypoints=web"
      - "traefik.http.routers.dashboard.service=api@internal"
      - "traefik.http.routers.dashboard.middlewares=secure-auth"
      - "traefik.http.middlewares.secure-auth.basicauth.users=${BASIC_AUTH}"
